body {
  font-family: 'Nunito', sans-serif;

  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  min-width: 325px;
  color: rgb(78, 78, 78);
  font-weight: 600;
}

/* -------------------------- */
/*           Header           */
/* -------------------------- */

/* Unicornio & Links */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: 100px;
}

/* Unicornio feliz */
.unicornio {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

/* Links ubicación & font size */
.header-links {
  display: flex;
  align-items: center;
  font-size: 2.5em;
}

/* Links estilos internos */
.header-links a {
  padding: 0px 10px;
  margin: 0px auto;
  color: rgb(78, 78, 78);
  text-decoration: none;
}

/* Hover sobre los links del header */
.la-twitter:hover     { color: #1EA1F2; }
.la-github:hover      { color: lightslategray; }
.la-linkedin-in:hover { color: #3790C3; }
/* Hover suave */
.la-twitter, .la-github, .la-linkedin-in { transition: 0.3s; }

/* -------------------------- */
/*            Intro           */
/* -------------------------- */

/* Majo Ledesma - Hi human!... */
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 5px;
  min-height: 300px;
  background-color: #363636;
  font-weight: 600;
  color: rgb(231, 231, 231);
  border-radius: 20px;
  transition: 0.3s;
  /* Este margin es para que no se le pegue el flex de los apuntes */
  margin-bottom: 5px;
}

/* Levantamos el color de fondo cuando hacemos hover  */
.intro:hover {
  filter: contrast(130%)
}

/* Majo Ledesma */
.majo {
  font-size: 4em;
  text-align: center;
  letter-spacing: -2px;
}

/* Estilo de mini presentación */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Texto que tenga margin & font size */
.about p {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Hi human! */
.hi {
  padding-bottom: 10px;
}

/* Resaltado: apuntes a mano */
.resaltador {
  padding: 0px 5px;
  background-color: #8d69a7;
  color: rgb(240, 240, 240);
}

/* Un toque de separación: Espero te sean de ayuda */
.hope {
  padding-top: 10px;
}

/* Separación y tipo flex: "Puedes sugerirme temas en..." */
.follow {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  line-height: 25px;
}

/* Esto tiene su propia onda y cosas: @majoledes */
.follow > .link {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  color: #1EA1F2;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

/* Cuando le hacemos hover a @majoledes */
.follow > .link:hover {
  background-color: #1EA1F2;
  color: rgb(231, 231, 231);
  border-radius: 5px;
  transition: 0.3s;
}

/* Que el iconito de Twitter también reciba el color en hover */
.follow > .link > i:hover {
  color: rgb(231, 231, 231);
}

/* -------------------------- */
/*           Apuntes          */
/* -------------------------- */

/* Flex Contenedor de Apuntes */
.flex-apuntes {
  display: flex;
  flex-flow: row wrap;
}

/* Block de Apunte */
.apuntes {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  margin: 5px;
  height: 300px;
  min-width: 365px;
  border-radius: 20px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  text-align: center;
}

/* Título de cada apunte */
.apunte-titulo {
  padding-top: 5px;
  font-size: 2.8em;
}

/* El ícono del lenguaje, en su versión más finita */
.apunte-titulo i {
  font-weight: lighter;
}

/* "Básico", y esas descripciones... */
.apunte-tipo {
  font-size: 2em;
}

/* Detalle de Cantidad de páginas */
.apunte-paginas {
  padding-top: 5px;
  font-size: 1.2em;
}

/* Estilo del botón */
.apunte-boton {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px 20px 18px 20px;
  border: 1px solid rgba(240, 240, 240, 0.445);
  border-radius: 15px;
  font-size: 1.5em;
  transition: 0.3s;
}

/* Hover del botón */
.apunte-boton:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(119, 119, 119);
}

/* Cada vez que se agregan nuevos apuntes: */
/* Ponemos los colores de fondo y el :hover                      Algunos fondos requieren un contraste de hover  diferente */

/* JavaScript */
.js { background-color: #cfcf7e; transition: 0.3s }             .js:hover { filter: contrast(130%) }

/* React */
.react { background-color: #9984A8; transition: 0.3s }          .react:hover { filter: contrast(150%) }

/* React Hooks */
.react-hooks { background-color: #F0ADE8; transition: 0.3s }    .react-hooks:hover { filter: contrast(150%) }

/* Python */
.python { background-color: #8597B9; transition: 0.3s }         .python:hover { filter: contrast(150%) }

/* CSS */
.css { background-color: rgb(255, 167, 182); transition: 0.3s } .css:hover { filter: contrast(150%) }


/* -------------------------- */
/*        Colaboración        */
/* -------------------------- */

/* Cuadrito de colaboración */
.colaboracion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  padding: 100px 40px;
  color: rgb(87, 87, 87);
  text-align: center;
  font-size: 2.5em;
  border-radius: 20px;
}

/* Flex del texto + botón */
.cafecito {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 30px;
}

/* Empujamos un toque el botón */
.cafecito a {
  padding-top: 30px;
}

/* -------------------------- */
/*           Footer           */
/* -------------------------- */

/* Es solo un texto, así que va puro estilo por el momento :) */
footer {
  margin: 0px 5px;
  padding: 30px;
  background-color: #363636;
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s
}

/* Levantamos el color de fondo cuando hacemos hover  */
footer:hover {
  filter: contrast(130%)
}

/* Medidas móviles - Igual cuando llega a este punto, calculamos que nada quede mal */
@media screen and (max-width: 665px) {
  /* Bajamos un toque el espaciado */
  header {
    height: 60px;
    padding: 10px;
  }

  /* Que entre todo tipo columna */
  .intro {
    flex-direction: column;
    padding: 50px 0px;
  }

  /* Espaciamos un poco mejor */
  .majo {
    margin: 0 20px;
    padding-bottom: 25px;
  }
 }
