body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Nunito', sans-serif;
  background-color: rgb(240, 240, 240);
  color: rgb(78, 78, 78);
  font-weight: 600;
  box-sizing: border-box;
  min-width: 325px;
}

/* -------------------------- */
/*           Header           */
/* -------------------------- */

/* Unicornio & Links */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: 100px;
}

/* Unicornio feliz */
.unicornio {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

/* Links ubicación & font size */
.header-links {
  display: flex;
  align-items: center;
  font-size: 2.5em;
}

/* Links estilos internos */
.header-links a {
  padding: 0 10px;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(78, 78, 78);
}

/* Hover sobre los links del header */
.la-twitter:hover     { color: #1EA1F2; }
.la-github:hover      { color: lightslategray; }
.la-linkedin-in:hover { color: #3790C3; }


/* -------------------------- */
/* Empezamos con el contenido */
/* -------------------------- */

/* Majo Ledesma - Hi human!... */
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 300px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background-color: #363636;
  color: rgb(231, 231, 231);
  margin: 0px 5px;
  border-radius: 20px;
  /* Este margin es para que no se le pegue el flex de los apuntes */
  margin-bottom: 5px;
}

/* Majo Ledesma */
.majo {
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
}

/* Estilo de mini presentación */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Texto que tenga margin & font size */
.about p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Resaltado: apuntes a mano */
.resaltador {
  padding: 0px 5px;
  background-color: rgba(124, 62, 240, 0.521);
  color: white;
}

/* Un toque de separación: Espero te sean de ayuda */
.hope {
  padding-top: 30px;
}

/* Separación y tipo flex: "Puedes sugerirme temas en..." */
.follow {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  line-height: 25px;
}

/* Esto tiene su propia onda y cosas: @majoledes */
.follow > .link {
  color: #1EA1F2;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Cuando le hacemos hover a @majoledes */
.follow > .link:hover {
  border-radius: 5px;
  background-color: #1EA1F2;
  color: rgb(231, 231, 231);
  transition: 0.3s;

}

/* Flex Contenedor de Apuntes */
.flex-apuntes {
  display: flex;
  flex-flow: row wrap;
}

/* Block de Apunte */
.apuntes {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  min-width: 370px;
  margin: 5px;
  text-align: center;
  border-radius: 20px;
  height: 300px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Título de cada apunte */
.apunte-titulo {

  font-size: 3em !important;
}

/* El ícono del lenguaje, en su versión más finita */
.apunte-titulo i {
  font-weight: lighter;
}

/* "Básico", y esas descripciones... */
.apunte-tipo {
  font-size: 2em;
}

.apunte-paginas {
  font-size: 1.2em;
}

.apunte-boton {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid white;
}

/* Cada vez que se agregan nuevos apuntes: */
/* Ponemos los colores de fondo y el :hover                      Algunos fondos requieren un toque de contraste diferente */
.js { background-color: #cfcf7e; transition: 0.3s }           .js:hover { filter: contrast(130%) }
.react { background-color: #9984A8; transition: 0.3s }        .react:hover { filter: contrast(150%) }
.react-hooks { background-color: #F0ADE8; transition: 0.3s }  .react-hooks:hover { filter: contrast(150%) }
.python { background-color: #8597B9; transition: 0.3s }       .python:hover { filter: contrast(150%) }
.css { background-color: rgb(255, 167, 182); transition: 0.3s }             .css:hover { filter: contrast(150%) }

/* Medidas móviles - Igual cuando llega a este punto, calculamos que nada quede mal */
@media screen and (max-width: 665px) {
  header {
    height: 60px;
    padding: 10px;
  }
  .intro {
    flex-direction: column;
    padding: 50px 0px;
  }

  .majo {
    margin: 0 20px;
    padding-bottom: 25px;
  }
 }
