body {
  font-family: "Nunito", sans-serif;
  font-display: swap;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  min-width: 325px;
  color: rgb(78, 78, 78);
  font-weight: 600;
}

/* -------------------------- */
/*           Header           */
/* -------------------------- */

/* Unicornio & Links */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: 100px;
}

/* Unicornio feliz */
.unicornio {
  padding-left: 10px;
}

/* Links ubicación & font size */
.header-links {
  display: flex;
  align-items: center;
  font-size: 2.5em;
}

/* Links estilos internos */
.header-links a {
  padding: 0px 10px;
  margin: 0px auto;
  color: rgb(78, 78, 78);
  text-decoration: none;
}

/* Hover sobre los links del header */
.la-twitter:hover {
  color: #1ea1f2;
}
.la-github:hover {
  color: lightslategray;
}
.la-instagram:hover {
  color: #3790c3;
}
/* Hover suave */
.la-twitter,
.la-github,
.la-instagram {
  transition: 0.3s;
}

/* -------------------------- */
/*            Intro           */
/* -------------------------- */

/* Majo Ledesma - Hi human!... */
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 5px;
  /* Este margin es para que no se le pegue el flex de los apuntes */
  margin-bottom: 5px;
  min-height: 300px;
  background-color: #363636;
  font-weight: 600;
  color: rgb(231, 231, 231);
  border-radius: 20px;
  transition: 0.3s;
}

/* Levantamos el color de fondo cuando hacemos hover  */
.intro:hover {
  filter: contrast(130%);
}

/* Majo Ledesma */
.majo {
  font-size: 4em;
  text-align: center;
  letter-spacing: -2px;
}

/* Estilo de mini presentación */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Texto que tenga margin & font size */
.about p {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Hi human! */
.hi {
  padding-bottom: 10px;
}

/* Resaltado: apuntes a mano */
.resaltador {
  padding: 0px 5px;
  background-color: #8d69a7;
  color: rgb(240, 240, 240);
}

/* Un toque de separación: Espero te sean de ayuda */
.hope {
  padding-top: 10px;
}

/* Separación y tipo flex: "Puedes sugerirme temas en..." */
.follow {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  line-height: 25px;
}

/* Esto tiene su propia onda y cosas: @majoledes */
.follow > .link {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  color: #1ea1f2;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

/* Cuando le hacemos hover a @majoledes */
.follow > .link:hover {
  background-color: #1ea1f2;
  color: rgb(231, 231, 231);
  border-radius: 5px;
  transition: 0.3s;
}

/* Que el iconito de Twitter también reciba el color en hover */
.follow > .link > i:hover {
  color: rgb(231, 231, 231);
}

/* -------------------------- */
/*           Apuntes          */
/* -------------------------- */

/* Flex Contenedor de Apuntes */
.flex-apuntes {
  display: flex;
  flex-flow: row wrap;
}

/* Block de Apunte */
.apunte {
  margin: 5px;
  height: 300px;
  min-width: 380px;
  border-radius: 20px;
  text-align: center;
  color: rgb(240, 240, 240);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  text-decoration: none;
}

/* Título de cada apunte */
.apunte-titulo {
  font-size: 2.8em;
  padding-top: 5px;
}

/* El ícono del lenguaje, en su versión más finita */
.apunte-titulo i {
  font-weight: lighter;
}

/* "Básico", y esas descripciones... */
.apunte-tipo {
  font-size: 2em;
}

/* Detalle de Cantidad de páginas */
.apunte-paginas {
  padding-top: 5px;
  font-size: 1.2em;
}

/* Estilo del botón */
.apunte-boton {
  border: 1px solid rgba(240, 240, 240, 0.445);
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px 20px 18px 20px;
  border-radius: 15px;
  font-size: 1.5em;
  transition: 0.3s;
}

/* Hover del botón */
.apunte-boton:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(119, 119, 119);
}

/* Cada vez que se agregan nuevos apuntes: */
/* Ponemos los colores de fondo y el :hover. Algunos fondos requieren un contraste de hover diferente */

/* JavaScript */
.js {
  background-color: #cfcf7e;
  transition: 0.3s;
}
.js:hover {
  filter: contrast(130%);
}

/* React */
.react {
  background-color: #0081a7;
  transition: 0.3s;
}
.react:hover {
  filter: contrast(150%);
}

/* React Hooks */
.react-hooks {
  background-color: #00b8c4;
  transition: 0.3s;
}
.react-hooks:hover {
  filter: contrast(150%);
}

/* Python */
.python {
  background-color: #5a716a;
  transition: 0.3s;
}
.python:hover {
  filter: contrast(150%);
}

/* CSS */
.css {
  background-color: #ad7a99;
  transition: 0.3s;
}
.css:hover {
  filter: contrast(150%);
}

/* CSS */
.poo-con-python {
  background-color: #f07167;
  transition: 0.3s;
}
.poo-con-python:hover {
  filter: contrast(150%);
}

/* -------------------------- */
/*        Colaboración        */
/* -------------------------- */

/* Cuadrito de colaboración */
.colaboracion {
  margin: 5px;
  padding: 100px 40px;
  text-align: center;
  color: rgb(87, 87, 87);
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

/* Flex del texto + botones */
.colaboracion-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 30px;
}

/* Empujamos un toque el bloque */
.colaboracion-links a {
  margin-top: 30px;
  text-decoration: none;
}

/* Hacemos que bajen un poco más los botones */
.colaboracion-contenedor-botones {
  margin-top: 60px;
}

/* -------------------------- */
/*           Footer           */
/* -------------------------- */

/* Es solo un texto, así que va puro estilo por el momento :) */
footer {
  margin: 0px 5px;
  padding: 30px;
  background-color: #363636;
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s;
}

/* Levantamos el color de fondo cuando hacemos hover  */
footer:hover {
  filter: contrast(130%);
}

/* Media queries - Cuando llega a este punto, corregimos visual */
@media screen and (max-width: 665px) {
  /* Bajamos un toque el espaciado */
  header {
    height: 60px;
    padding: 10px;
  }

  /* Que entre todo tipo columna */
  .intro {
    flex-direction: column;
    padding: 50px 0px;
  }

  /* Espaciamos un poco mejor */
  .majo {
    padding: 10px 0px 40px 0px;
  }
}
